h1 {
    @include font ($weight: 900, $size: 120px, $height:156px);
    @extend %font-add;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}
h2 {
    @include font ( $weight: 400, $size: 64px, $height: 80px);
    @extend %font-add;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}
.common-title {
    @include font ( $weight: 400, $size: 64px, $height: 80px);
    @extend %font-add;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    color: $color-light;
    text-align: center;
 }