.main {
    overflow: hidden;
    background-image: url("/assets/image/main_bg.png");
    background-position: top center;
}
.main-content {
    padding-top: 103px;
    padding-bottom: 199px;
}
.main-content .wrapper {
    position: relative;
}
.main-info {
    max-width: 608px;
}
.main-small-info {
    background: $color-main;
    border-radius: 100px;
    padding: 12px 16px;
    display: inline-block;
    font-size: 1.8rem;

}
.main-title {
    margin-bottom: 56px;
}
.main-text {
    @include font($weight: 600, $size:24px, $height:29px);
    margin-bottom: 56px;
}
.main-image {
    position: absolute;
    top: -123px;
    left: calc(100% - 991px);

}
